/*--RESPONSIVE--*/

/*MOB*/

@media (max-width: $pantalla-celu) {

    h2 {
        font-size: 2rem;
    }

    .tickets-button {
        margin-right: 1rem;
        font-size: 0.9rem;
    }

    .card {
        min-height: 340px;

    }

    .footer-menu {
        ul {
            gap: 1rem;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .quienes-somos {
        padding: 3rem 1.5rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            "intro"
            "imagen2"
            "imagen1"
            "texto2";
    }

    .carousel-home {
        h1 {
            font-size: 4rem;
            text-align: center;
        }
    }

    .hero-slider {
        &-inner {
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        &-imagenes {
            grid-template-columns: 1fr;

        }

        &-titulo {
            font-size: 2.6rem;
            max-width: 100%;
        }
    }


    .header--light {
        .nav-link {
            color: $color-light;

            &:hover,
            &.active {
                color: $color-accent;
            }
        }
    }



    .exh-fot {
        height: 40vh;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: left center;
        }
    }


    .hero {
        &-simple {
            height: 40vh;
        }

        &-title {
            font-size: 2rem;
        }

    }

    .formulario {
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "form";
    }

    .form-img-inner {
        height: 300px;
        object-position: top;
    }

    .form-text {
        padding: 0 5%;
    }
}

/*TABLET*/

@media (max-width: $pantalla-tablet) {
    .colecciones-arte {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-inner {
        grid-template-columns: 1fr;
    }

}

/*PC*/

@media (min-width:$pantalla-desktop) {

    .nav-link {
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 60%;
            transform: translateX(-60%);
            width: 0;
            height: 1px;
            background-color: $color-light;
            visibility: hidden;
            transition: 0.3s ease-in-out;
        }

        &:hover::before,
        &.active::before {
            width: 90%;
            visibility: visible;
        }
    }

    .offcanvas-social {
        display: none !important;
    }

}
