/*--VARIABLES WEB--*/

$font-secondary: ivypresto-display, serif;

$z-header:10;
$header-height:7em;

$color-bg-light: #eeede5; 
$color-bg-dark:  #27281b; 

$color-light: #9a9370;
$color-accent: #f0e4af;
$color-accent-soft: #e5d9a7;

$altura-carru: 100vh;

