
/*--VARIABLES WEB--*/

$font-principal: poppins, sans-serif;
$font-secondary: ivypresto-display, serif;

$z-header:10;
$header-height:7em;

$color-principal:#000000;
$color-bg-light: #eeede5; 
$color-bg-dark:  #27281b; 

$color-light: #9a9370;
$color-accent: #f0e4af;
$color-accent-soft: #e5d9a7;
$color-accent-dark: #191a11;

$color-form-border:#c5c6a7;

$altura-carru: 100vh;

$pantalla-celu:576px;
$pantalla-tablet: 992px;
$pantalla-desktop:1200px;

