/*--FOOTER--*/

.footer {
    background-color: $color-accent-dark;
    padding: 3rem;
    color: $color-light;

    a {
        color: $color-light;

        &:hover {
            color: $color-accent;
            text-decoration: underline;
        }
    }
}

.footer-inner {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2rem;
    max-width: 1400px;
    width: 90%;
    align-items: center;
}

.footer-menu {
    ul {
        display: flex;
        gap: 1rem;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: center;
    }

    li {
        margin: 0;
    }
}

#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: $color-bg-dark;
    color: $color-accent;
    text-decoration: none;
    font-size: 1.5rem;
    @extend %flex-center;
    box-shadow: 0 4px 20px #00000033;
    transition: transform 0.3s ease;
    z-index: 999;
    border-radius: 2px;

    &:hover {
        transform: translateY(-3px);
    }
}