/*--AJUSTES GENERALES--*/

body {
    background-color: $color-bg-light;
    font-family: $font-principal;
    font-size: 1rem;
    color: $color-principal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
    font-weight: 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.subtitle {
    font-size: 0.9rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}


.mb-6 {
    margin-bottom: 6rem !important;
}

.mt-6 {
    margin-top: 6rem !important;
}

.mb-7 {
    margin-bottom: 7rem !important;
}

.mt-7 {
    margin-top: 7rem !important;
}

.mb-8 {
    margin-bottom: 8rem !important;
}

.mt-8 {
    margin-top: 8rem !important;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 3rem;
}

.btn-primary {
    background-color: $color-bg-dark;
    color: $color-accent;
    font-size: 1rem;
    padding: 10px 20px;
    border: 1px solid $color-bg-dark;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    &:hover {
        background-color: $color-accent;
        border-color: $color-accent;
        border: 1px solid $color-bg-dark;
        color: $color-bg-dark;
    }
}