
/*--AJUSTES GENERALES--*/

body {
    background-color: #eeede5;
    font-family: poppins, sans-serif;
    font-size: 1rem;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: ivypresto-display, serif;
    font-weight: 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.subtitle {
    font-size: 0.9rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}


.mb-6 {
    margin-bottom: 6rem !important;
}

.mt-6 {
    margin-top: 6rem !important;
}

.mb-7 {
    margin-bottom: 7rem !important;
}

.mt-7 {
    margin-top: 7rem !important;
}

.mb-8 {
    margin-bottom: 8rem !important;
}

.mt-8 {
    margin-top: 8rem !important;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 3rem;
}

.btn-primary {
        background-color: #27281b;
    color: #f0e4af;
    font-size: 1rem;
    padding: 10px 20px;
    border: 1px solid #27281b;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover{
    background-color: #f0e4af;
    border-color: #f0e4af;
    border: 1px solid #27281b;
    color:#27281b;
}